<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <i class="wi wi-lightning"></i>
  <nav ngClass= "parent-menu" class="nav justify-content-center|justify-content-end">
    <ul>
      <li>
        <a [routerLink]="['Home']" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a [routerLink]="['admin']" routerLinkActive="active">Admin</a>
      </li>
      <li>
          <a [routerLink]="['merchant']" routerLinkActive="active">Merchant</a>
      </li>
      <li>
          <a [routerLink]="['customer']" routerLinkActive="active">Customer</a>
      </li>
    </ul>
  </nav>

  <h3>
    <router-outlet> </router-outlet>
  </h3>

</div>
